<br>
<br>
<br>
<h3>Agregar Inmueble </h3>
<div class="row">
<div class= "row">
    <div class="input-field col s3">
        <i class="material-icons prefix">account_circle</i>
              <input [(ngModel)]="product.code" id="code" type="text" class="validate">
              <label for="code">Code</label>
      </div>
      <div class="input-field col s5">
        <i class="material-icons prefix">account_circle</i>
      <input [(ngModel)]="product.name" id="name" type="text" class="validate">
      <label for="name">Name</label>
</div>
</div>
<div class="row">
    <div class="input-field col s5">
        <i class="material-icons prefix">account_circle</i>
      <input [(ngModel)]="product.description" id="trequest" type="text" class="validate">
      <label for="trequest">Description</label>
    </div>
</div>
<div class= "row">
    <div class="input-field col s4">
      <i class="material-icons prefix">account_circle</i>
    <input [(ngModel)]="product.rooms" id="rooms" type="text" class="validate">
    <label for="rooms">Rooms</label>
    </div>
    <div class="input-field col s4">
      <i class="material-icons prefix">account_circle</i>
    <input [(ngModel)]="product.bathrooms" id="bathrooms" type="text" class="validate">
    <label for="rooms">Baños</label>
    </div>
    <div class="input-field col s4">
      <i class="material-icons prefix">account_circle</i>
    <input [(ngModel)]="product.area" id="area" type="text" class="validate">
    <label for="area">Área</label>
    </div>
</div>
<div class= "row">
  <div class="input-field col s3">
      <i class="material-icons prefix">account_circle</i>
            <input [(ngModel)]="product.category" id="category" type="text" class="validate">
            <label for="category">Category</label>
    </div>
    <div class="input-field col s3">
      <i class="material-icons prefix">account_circle</i>
    <input [(ngModel)]="product.price" id="price" type="text" class="validate">
    <label for="price">Precio</label>
    </div>
    <div class="input-field col s3">
      <i class="material-icons prefix">account_circle</i>
    <input [(ngModel)]="product.image" id="image" type="text" class="validate">
    <label for="image">Imagen </label>
    </div>
    <div class="input-field col s3">
      <i class="material-icons prefix">account_circle</i>
    <input [(ngModel)]="product.image1" id="image1" type="text" class="validate">
    <label for="image1">Image 2</label>
    </div>
    <div class="input-field col s3">
      <i class="material-icons prefix">account_circle</i>
    <input [(ngModel)]="product.address" id="address" type="text" class="validate">
    <label for="address">Dirección</label>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <a class="waves-effect waves-light btn" (click)="saveNewProduct()"><i class="material-icons right">save</i>Guardar</a>
    </div>
</div>
</div>
<!-- Modal Message -->
<div id="saveCMessageModal" class="modal">
    <div class="modal-content">
      <h4>Categoría Eliminada</h4>
      <strong id="strSaveCMessage"></strong>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>