<br>
<br>
<br>
<table>
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                Tipo de solicitud
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
        <tr *ngFor="let c of categoryList">
            <td>
                {{c.code}}
            </td>
            <td>
                {{c.name}}
            </td>
            <td>
                {{c.trequest}}
            </td>
            <td>
                <a class="waves-effect waves-light btn blue"><i class="material-icons right">edit</i>Editar</a>
            </td>
            <td>
                <a class="waves-effect waves-light btn red"><i class="material-icons right">delete</i>Eliminar</a>
                <div>
                    <a class="waves-effect waves-light btn green"><i class="material-icons right">done</i>Confirmar</a>
                    <a class="waves-effect waves-light btn red"><i class="material-icons right">cancel</i>Cancelar</a>
                </div>
            </td>            
        </tr>
    <tbody>

    </tbody>
</table>
