
<br>
<br>
<br>


<br>
<br>
<br>
<div class="row">
    <input [(ngModel)]="product.id" type="hidden" id= "id" />
<div class= "row">
    <div class="input-field col s3">
        <i class="material-icons prefix">account_circle</i>
              <input [(ngModel)]="product.code" id="code" type="text" class="validate">
              <label for="code" class="active">Code</label>
      </div>
      <div class="input-field col s5">
        <i class="material-icons prefix">account_circle</i>
      <input [(ngModel)]="product.name" id="name" type="text" class="validate">
      <label for="name" class="active">Name</label>
</div>
<div class="row">
    <div class="input-field col s5">
        <i class="material-icons prefix">account_circle</i>
      <input [(ngModel)]="product.description" id="des" type="text" class="validate">
      <label for="des" class="active">Tipo de requerimiento</label>
    </div>
</div>
<div class= "row">
  <div class="input-field col s4">
    <i class="material-icons prefix">account_circle</i>
  <input [(ngModel)]="product.rooms" id="rooms" type="text" class="validate">
  <label for="rooms">Rooms</label>
  </div>
  <div class="input-field col s4">
    <i class="material-icons prefix">account_circle</i>
  <input [(ngModel)]="product.bathrooms" id="bathrooms" type="text" class="validate">
  <label for="rooms">Baños</label>
  </div>
  <div class="input-field col s4">
    <i class="material-icons prefix">account_circle</i>
  <input [(ngModel)]="product.area" id="area" type="text" class="validate">
  <label for="area">Área</label>
  </div>
</div>
<div class= "row">
<div class="input-field col s3">
    <i class="material-icons prefix">account_circle</i>
          <input [(ngModel)]="product.category" id="category" type="text" class="validate">
          <label for="category">Category</label>
  </div>
  <div class="input-field col s3">
    <i class="material-icons prefix">account_circle</i>
  <input [(ngModel)]="product.price" id="price" type="text" class="validate">
  <label for="price">Precio</label>
  </div>
  <div class="input-field col s3">
    <i class="material-icons prefix">account_circle</i>
  <input [(ngModel)]="product.image" id="image" type="text" class="validate">
  <label for="image">Imagen </label>
  </div>
  <div class="input-field col s3">
    <i class="material-icons prefix">account_circle</i>
  <input [(ngModel)]="product.image1" id="image1" type="text" class="validate">
  <label for="image1">Image 2</label>
  </div>
  <div class="input-field col s3">
    <i class="material-icons prefix">account_circle</i>
  <input [(ngModel)]="product.address" id="address" type="text" class="validate">
  <label for="address">Dirección</label>
  </div>
</div>
<div class="row">
    <div class="col s12">
        <a class="waves-effect waves-light btn" (click)="updateProduct()"><i class="material-icons right">edit</i>Actualizar</a>
    </div>
</div>
</div>

</div>

<!-- <div class="row">
    <input [(ngModel)]="product.id" type="hidden" id= "id" />
<div class= "row">
    <div class="input-field col s3">
        <i class="material-icons prefix">account_circle</i>
              <input [(ngModel)]="product.code" id="code" type="text" class="validate">
              <label for="code">Code</label>
      </div>
      <div class="input-field col s5">
        <i class="material-icons prefix">account_circle</i>
      <input [(ngModel)]="product.name" id="name" type="text" class="validate">
      <label for="name">Name</label>
</div>
<div class= "row">
    <div class="input-field col s3">
        <i class="material-icons prefix">account_circle</i>
              <input [(ngModel)]="available.code" id="ava" type="text" class="validate">
              <label for="ava">Disponible</label>
      </div>
      <div class="input-field col s5">
        <i class="material-icons prefix">account_circle</i>
      <input [(ngModel)]="product.rooms" id="room" type="text" class="validate">
      <label for="room">Habitaciones</label>
</div>
<div class= "row">
    <div class="input-field col s3">
        <i class="material-icons prefix">account_circle</i>
              <input [(ngModel)]="product.bathrooms" id="bat" type="text" class="validate">
              <label for="bat">Baños</label>
      </div>
      <div class="input-field col s5">
        <i class="material-icons prefix">account_circle</i>
      <input [(ngModel)]="product.area" id="area" type="text" class="validate">
      <label for="area">Área</label>
</div>
<div class= "row">
    <div class="input-field col s3">
        <i class="material-icons prefix">account_circle</i>
              <input [(ngModel)]="product.price" id="price" type="text" class="validate">
              <label for="price">Precio</label>
      </div>
      <div class="input-field col s5">
        <i class="material-icons prefix">account_circle</i>
      <input [(ngModel)]="product.description" id="des" type="text" class="validate">
      <label for="des">Description</label>
</div>
<div class= "row">
    <div class="input-field col s3">
        <i class="material-icons prefix">account_circle</i>
              <input [(ngModel)]="product.code" id="code" type="text" class="validate">
              <label for="code">Code</label>
      </div>
      <div class="input-field col s5">
        <i class="material-icons prefix">account_circle</i>
      <input [(ngModel)]="product.image" id="ima" type="text" class="validate">
      <label for="ima">Name</label>
</div>
<div class= "row">
    <div class="input-field col s3">
        <i class="material-icons prefix">account_circle</i>
              <input [(ngModel)]="product.image1" id="ima1" type="text" class="validate">
              <label for="ima">Code</label>
      </div>
      <div class="input-field col s3">
        <i class="material-icons prefix">account_circle</i>
              <input [(ngModel)]="product.address" id="addr" type="text" class="validate">
              <label for="addr">Dirección</label>
      </div>
</div>


 -->